@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.footer-bg-color {
    background-color: #001f56;
}

.other-service-css {
    background-color: #344955;
    /* background-image: url("./images/customer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%; */
}

.other-service-css > ul > li {
    margin-left: 20px;
}